fastapi
uvicorn
ollama
nltk
langdetect
numpy
scikit-learn
pandas
sentence-transformers
torch
transformers
flash-attn
einops
langchain
langchain_community
langchain_experimental
langchain_huggingface
langchain_ollama
tqdm